<!DOCTYPE html>
<html>
<head>
	<title>gososo example首页</title>
	<meta charset="utf8">
	<link rel="stylesheet" href="/css/base.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/index.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div class="wrap">
		<div class="search-bg">
			<form action="" method="GET">
				<input class="wd" name="wd">
				<input class="search-btn" type="submit" value="搜索一下">
			</form>
		</div>
	</div>

</body>
</html>
