<!DOCTYPE html>
<html>
<head>
	<title>gososo exmple</title>
	<meta charset="utf8">
	<link rel="stylesheet" href="/css/base.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/search.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div class="wrap">
		<div class="container">
			<div class="search-bg">
				<form action="" method="GET">
					<input class="wd" name="wd" value="{{.wd}}">
					<input class="search-btn" type="submit" value="搜索一下">
				</form>
			</div>
			<div class="content">
				{{range .Data}}
				<div class="item">
					<h3>
						<a href="/?redirect={{.URL}}&hit={{.Keywords}}">{{.Title}}</a>
					</h3>
					<div>
						<label>命中关键字：</label>
						<span>{{.Keywords}}</span>
					</div>
					<div>
						<label>权值：</label>
						<span>{{.Weight}}</span>
					</div>
				</div>
				{{end}}
			</div>
		</div>
	</div>
</body>
</html>
