.wrap {
    border: 0;
    padding: 0;
}

.wd {
    width: 400px;
    padding: 3px;
    font-size: 18px;
    vertical-align: middle;
}

.search-btn {
    font-size: 15px;
    height: 31px;
    line-height: 31px;
    vertical-align: middle;
}
